<!DOCTYPE html>
<html>
<head>
    <title>Flash Rating</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <script>
        setTimeout(function() {
            window.location.href = '/';
        }, 2000); // Redirects after 2 seconds
    </script>
</body>
</html>
